body
{
background-color:lightpink;
font-family: 'Style Script', cursive;
}
.header_div
{
background-color:navajowhite;
color:black;
font-size:larger;
}
.header_div img
{
width:100px;
}
.main_div
{
background-color:rgb(179, 223, 250);
padding:10px;
margin-top:15px;
border:3px solid white;
}
.main_div label
{
font-family: 'MonteCarlo', cursive;
background:white;
width:310px;
padding:10px;
margin-bottom:0px;
box-shadow:5px 10px 18px white;
}
#camera,#pic
{
font-family: 'Pacifico', cursive;
border:2px solid white;
width:310px;
height:300px;
box-shadow:5px 5px 18px white;
}
.main_div button
{
font-family: 'Dancing Script', cursive;
width:310px;
font-size:16px;
box-shadow:5px 5px 18px white;
border:1px solid white;
}
.footer_div
{
margin-bottom:50px;
}
.footer_div h4
{
background-color:white;
border-radius:10px;
padding:5px;
box-shadow:5px 5px 18px white;
}
.footer_div img
{
width:70px;
text-align:left;
}
.copy_right_footer
{
position:fixed;
color:#6c757d;
bottom:0;
width:100%;
background-color:#f5f5f5;
line-height:3;
text-align:center;
}